extends _header.pug
block pageContent
    .ly_hero
        .ly_hero_container
            .bl_hero
                .bl_hero_image
                    img(src='../images/home-mainphoto.jpg')
                .bl_hero_logo
                    img(src='../images/home-logo.svg')
    .ly_main
        .ly_main_container
            .bl_lead
                p 行ったことのない街を歩いたり、知らなかった技術を学んだり、食べたことのないものを見つけたり。好奇心いっぱいの探索を。
            // 最新記事
            h2 Latest

            //- 配列読み込み
            include _array.pug

            .bl_latest
                each elm in arr_latest
                    .bl_latest_item
                        .bl_latest_image
                            a(href=elm.url)
                                img(src=elm.image)
                        .bl_latest_text
                            h3: a(href=elm.url)
                                | #{elm.title}
                            .bl_latest_tag
                                span: a(href='')
                                    | #{elm.tag}
                                span: a(href='')
                                    | #{elm.tag02}
                            .bl_info
                                span #{elm.info}
            // /最新記事

            // 人気記事
            h2 Popular

            //- 配列読み込み
            include _array.pug

            .bl_media
                each elm in arr_media
                    .bl_media_item
                        .bl_media_image
                            img(src=elm.image)
                        .bl_media_text
                            h3 #{elm.title}
                            p #{elm.desc}
                            .bl_info
                                span #{elm.info}



            // /人気記事
    .ly_news
        .ly_news_container
            p ニュース項目
    include _bottom.pug
